/* Less */

.has-feedback {
	position: relative;

	.form-control {
		padding-right: 42.5px;
	}

	.form-control-feedback {
		position: absolute;
		top: 9px;
		right: 9px;
	}

	.glyphicon-ok {
		color: #3c763d;
	}

	.glyphicon-remove {
		color: #a94442;
	}

	& + .has-success {
		input {
			border-color: green;
		}
	}

	& + .has-error {
		input {
			border-color: red;
		}
	}
}

#form_pergunta {

	.box {
		width: 70%;
		margin: 30px auto;
		background: #f3f3f3;
		border-radius: 15px;
		padding: 20px;
		text-align: left;

		.pergunta {
			font-size: 20px;
		}		
	}

	.btn {
		font-size: 35px;
		border-radius: 15px;
		padding: 10px 40px;
	}

}

#box_pergunta {
	text-align: center;
	margin-bottom: 160px;
}

#box_feedback {
	width: 50%;
	margin: 30px auto;
	background: #f3f3f3;
	border-radius: 15px;
	padding: 20px;
}

.titulo-figurinha {
	font-size: 18px;
	font-weight: 600;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,0.3);
	margin-top: 10px;
}

.img-thumbnail {
	max-height: 300px !important;
}

.ico {	
	font-size: 40px;
}

.glyphicon-remove {
	color: red;
}

.glyphicon-check,
.glyphicon-ok {
	color: #1b530a;
}

.modal-footer {
	margin-top: 0;
	margin-bottom: 10px;
	border-top: none;
	text-align: center;
}

.modal-dialog {
	width: 400px;
	text-align: center;
}

.modal-body {
	padding: 30px 20px 10px;

	h3 {
		margin: 0 0 15px;
	}
}

#album_usuario {
	margin-top: 100px;
}

#album-vazio {	
	height: 300px;	
	font-weight: 600;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,0.3);
	text-align: center;

	h3 {
		font-size: 30px;
	}

	small {
		color: #fff;
		font-size: 23px;
	}

	a {
		color: #eb9316;
		text-shadow:1px 1px 0px rgba(0,0,0,0.3);
	}
}

.ja-respondi {
	width: 70%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	font-weight: 600;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,0.3);
	text-align: center;
}

#nova-pergunta {
	padding: 8px 23px;
	font-size: 20px;
}
